@import 'vars';

html{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0;
}

img{
max-width: 100%;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    max-width: 1440px;
    color: $default;
    font-size: 16px;
    line-height: 19px;
    @extend %font-light;
    overflow-x: hidden;
}

.page-section{
    margin-bottom: 100px;
}

h2{
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    @extend %font-light;
    margin-bottom: 43px;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}

.white-bg{
    background-color: #fff;
}
.yellow-bg{
    background-color: #F1DDAA;
}
.blue-bg{
    background-color: #6F83A4;
}

.title{
    font-size: 20px;
    @extend %font-light;
    margin-bottom: 25px;
}
