<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Интернет-магазин женской">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Yanki</title>
</head>

<body>
    <div class="wrapper">
        <header class="header header-fixed">
            <div class="container">
                <div class="header__inner">
                    <div class="header-box">
                        <nav class="menu header__left ">
                            <button class="menu__btn header__burger">
                                <span class="menu__btn-line "></span>
                            </button>
                            <ul class="menu__list header__nav menu-drop__list">
                                <li class="menu__item menu__item-search menu__item-media">
                                    <input type="text" placeholder="Введите ваш запрос">
                                    <span></span>
                                    <div class="right-drop__wrapper dropdown right-drop__currency-media">
                                        <button class="right-drop__btn dropdown-btn" ><span class="drop__current">UAH</span> </button>
                                        <div class="right-drop__menu dropdown-content">
                                            <div class="dropdown-list__item right-drop__menu-item hide">UAH
                                            </div>
                                            <div class="dropdown-list__item right-drop__menu-item" >USD</div>
                                            <div class="dropdown-list__item right-drop__menu-item" >EUR</div>
                                        </div>
                                    </div>
                                </li>
                                <ul class="menu__list-media">
                                    <li class="menu__item menu__item-media">
                                        <a href="product-card.html" class="menu__item-link">NEW</a>
                                    </li>
                                    <li class="menu__list-item menu__item-media">
                                        <a href="catalog.html" class="menu__item-link">КАТАЛОГ</a>
                                    </li>
                                    <li class="menu__list-item menu__item-media">
                                        <a href="#" class="menu__item-link">О НАС</a>
                                    </li>
                                </ul>
                                <li class="menu__item menu__item-media">
                                    <a href="delivery.html" class="menu__item-link">ОПЛАТА И ДОСТАВКА</a>
                                </li>
                                <li class="menu__item menu__item-media">
                                    <a href="return.html" class="menu__item-link">УСЛОВИЯ ВОЗВРАТА</a>
                                </li>
                                <li class="menu__item menu__item-media">
                                    <a href="contacts.html" class="menu__item-link">КОНТАКТЫ</a>
                                </li>
                                <ul class="menu__list-media dropdown-footer">
                                    <li class="">
                                        <div class="footer__social">
                                           <a  href="#">
                                            <img src="images/instagram.svg" alt="">
                                           </a> 
                                           <a  href="#">
                                            <img src="images/telegram.svg" alt="">
                                           </a> 
                                        </div>
                                    </li>
                                    <li  class="">
                                        <a href="emailto:info@yanki.com">info@yanki.com</a>
                                    </li>
                                    <li class=" ">
                                        <a href="tel:380730963644:">+38(073) 096 36 44</a>
                                    </li>
                                </ul>
                            </ul>
                            <ul class="menu__list hide">
                                <li class="menu__item">
                                    <a href="product-card.html" class="menu__item-link">NEW</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="catalog.html" class="menu__item-link">КАТАЛОГ</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="#" class="menu__item-link">О НАС</a>
                                </li>
                            </ul>
                        </nav>

                    </div>


                    <div class="header__center">
                        <a href="index.html" class="logo">
                            <img src="images/logo.svg" alt="">
                    </div>
                    </a>
                    <div class="header__right">
                        <div class="right-drop">
                            <div class="right-drop__wrapper dropdown">
                                <button class="right-drop__btn dropdown-btn" id="selected-lang"><span >RU</span> </button>
                                <div class="right-drop__menu dropdown-content">
                                    <a class="menu-lang__item right-drop__menu-item " href="#">UA</a>
                                    <a class="menu-lang__item right-drop__menu-item" href="#">EN</a>
                                </div>
                            </div>
                            <div class="right-drop__wrapper dropdown right-drop__currency ">
                                <button class="right-drop__btn dropdown-btn" ><span class="drop__current" id="selected-currency">UAH</span> </button>
                                <div class="right-drop__menu dropdown-content">
                                    <div class="dropdown-list__item right-drop__menu-item hide">UAH
                                    </div>
                                    <div class="dropdown-list__item right-drop__menu-item" >USD</div>
                                    <div class="dropdown-list__item right-drop__menu-item" >EUR</div>
                                </div>
                            </div>
                        </div>

                        <ul class="header__userlist">
                            <li class="header__userlist-item search">
                                <form class="header__userlist-link header__search">
                                    <input class="header__search-input" type="text" placeholder="Введите ваш запрос">
                                    <span class="header__search-btn--close"><img src="images/search-black.svg"
                                            alt=""></span>
                                    <p class="header__search-btn"><img src="images/search.svg" alt=""></p>
                                </form>
                            </li>
                            <li class="header__userlist-item">
                                <a href="user-room.html" class="header__userlist-link">
                                    <img src="images/user.svg" alt=""></a>
                            </li>
                            <li class="header__userlist-item">
                                <a href="favorites.html" class="header__userlist-link">
                                    <img src="images/favorite.svg" alt=""></a>
                            </li>
                            <li class="header__userlist-item">
                                <a href="basket.html" class="header__userlist-link">
                                    <img src="images/basket.svg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



        </header>